name: Fluid Linux Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install LLVM
        run: |
          set -eux
          sudo apt install -y llvm-11 clang-11 libgc-dev

      - uses: actions/checkout@v2

      - name: Build
        run: python tools/fluid.py check
