name: Fluid Linux Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2

      - name: Install LLVM
        run: sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"

      - name: Build
        run: python tools/fluid.py check
